# Core ML/AI packages
# conda install pytorch==2.5.0 torchvision==0.20.0 torchaudio==2.5.0 pytorch-cuda=12.4 -c pytorch -c nvidia
transformers==4.52.4
numpy
psutil
optimum
attrs
scikit-learn
accelerate
datasets
#wandb