accelerate==0.34.2
aiohappyeyeballs==2.4.2
aiohttp==3.10.6
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.5.0
async-timeout==4.0.3
attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.12.3
bitsandbytes==0.42.0
bleach==6.1.0
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==3.3.2
Click==7.0
cloud-init==24.2
colorama==0.4.3
coloredlogs==15.0.1
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.1.1
cryptography==2.8
cupshelpers==1.0
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.0.1
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
dill==0.3.8
distro==1.4.0
distro-info==0.23+ubuntu1.1
entrypoints==0.3
exceptiongroup==1.2.2
faiss-gpu==1.7.2
fastjsonschema==2.20.0
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.9.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.5
httplib2==0.14.0
httpx==0.27.2
huggingface-hub==0.25.1
humanfriendly==10.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==8.5.0
importlib-resources==6.4.5
incremental==16.10.1
ipython-genutils==0.2.0
jaro-winkler==2.0.3
jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyterlab-pygments==0.3.0
keyring==18.0.1
kiwisolver==1.4.7
langchain==0.2.16
langchain-community==0.2.17
langchain-core==0.2.41
langchain-text-splitters==0.2.4
langsmith==0.1.129
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
macaroonbakery==1.3.1
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.7.5
mistune==3.0.2
more-itertools==4.2.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
netifaces==0.10.4
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
oauthlib==3.1.0
onnx==1.16.2
onnxruntime==1.16.3
optimum==1.22.0
orjson==3.10.7
packaging==24.1
pandas==2.0.3
pandocfilters==1.5.1
pexpect==4.6.0
pillow==10.4.0
platformdirs==4.3.6
protobuf==5.28.2
psutil==6.0.0
pyarrow==17.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycups==1.9.73
pydantic==2.9.2
pydantic-core==2.23.4
pygments==2.18.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.1.4
pyparted==3.11.2
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
pytz==2024.2
PyYAML==5.3.1
pyzmq==26.2.0
regex==2024.9.11
requests==2.32.3
requests-unixsocket==0.2.0
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.10.1
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==2.3.1
sentence-transformers==3.1.1
sentencepiece==0.2.0
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
sniffio==1.3.1
sos==4.5.6
soupsieve==2.6
SQLAlchemy==2.0.35
ssh-import-id==5.10
sympy==1.13.3
systemd-python==234
tenacity==8.5.0
threadpoolctl==3.5.0
timm==1.0.9
tinycss2==1.3.0
tokenizers==0.19.1
torch==2.4.1
torchvision==0.19.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.2
triton==3.0.0
Twisted==18.9.0
typing-extensions==4.12.2
typing-inspect==0.9.0
tzdata==2024.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
wadllib==1.3.3
WALinuxAgent==2.2.46
webencodings==0.5.1
xkit==0.0.0
xxhash==3.5.0
yarl==1.13.0
zipp==3.20.2
zope.interface==4.7.1
